:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-landingpage.png);
    z-index: -1;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; /* Agar gambar tidak diulang */
}

.hero {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    min-height: 100dvh;
}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.5rem;
}

.hero p {
    font-size: 1.5rem;
}

.hero h1, .hero h2, .hero p, .hero h4 {
    text-shadow: var(--shadow);
}

.hero a {
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

/* Navbar */
/* .my-navbar {
    
} */

.my-navbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.my-navbar .offcanvas {
    height: 40vh;
    width: 25rem;
}

.my-navbar .navbar-brand, .my-navbar .offcanvas-title{
    font-family: "Sacramento", cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.my-navbar .nav-link{
    text-transform: uppercase;
}


/* home */
.home {
    background-image: url(img/bg.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 12rem;
}

.home h2 {
    color: var(--pink);
    font-family: "Sacramento";
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #666;
}


/* couple */
.home .couple h3 {
    font-family: "Sacramento";
    font-size: 2.4rem;
    color: var(--pink);
}

.home .couple img {
    width: 100%;
}


@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
}


@media (max-width: 576px) {
    html {
        font-size: 65%;
    }

    /* navbar */
    .my-navbar .nav-link{
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    /* navbar */
    .my-navbar .nav-link{
        font-size: 1.5rem;
        text-align: center;
    }
}